.dest {
    background-image: url(./images/image-1.png);
    background-size: contain;
    background-repeat: repeat-y;
    height: 96rem;
    align-items: unset;
}

.titulo-destacados {
    font-family: Inter;
    color: #ededed;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin: 5rem;
}

.destacados {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 25rem;
    justify-content: space-around;
}

.destacados-1,
.destacados-2,
.destacados-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 2rem;

}

.deschaladora {
    width: 25rem;
    border-radius: 12px;
}

.descripcion,
.descripcion-2 {
    margin: 2rem;
}

.descripcion-2 {
    text-align: end;
}

.titulo-1 {
    font-size: 2.3rem;
    font-family: Inter;
    font-weight: 300;
}

.botones-descripcion,
.botones-descripcion-2 {
    display: flex;
}

.boton-descripcion,
.boton-descripcion-2 {
    width: 6rem;
    height: 3rem;
    background-color: rgb(92, 90, 90);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
    transition: background-color 0.5s ease;

}

.boton-descripcion:hover,
.boton-descripcion-2:hover {
    background-color: black;
}

.botones-descripcion-2 {
    justify-content: end;
}

.boton-descripcion-2 {
    margin: 1rem 0rem 1rem 1rem;
}

@media only screen and (max-width: 768px) {

    .dest {
        display: flex;
        align-items: center;
        height: 123rem;
    }

    .titulo-destacados {
        font-size: 2rem;
    }

    .destacados {
        margin-left: 0;
        align-items: center;
    }

    .destacados-1,
    .destacados-3 {
        flex-direction: column;
    }

    .destacados-2 {
        flex-direction: column-reverse;
    }

    .deschaladora {
        width: 17rem;
    }

    .descripcion,
    .descripcion-2 {
        text-align: center;
    }

    .botones-descripcion,
    .botones-descripcion-2 {
        justify-content: center
    }

    .titulo-1 {
        font-size: 1.3rem;
    }

    .boton-descripcion, .boton-descripcion-2 {
        width: 5rem;
        height: 2rem;
    }

    .video, .folleto {
        font-size: 1rem;
    }

}