.contenedor-argentina {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 0 5rem;
}

.contenedor-brasil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 0 5rem;
}

.contenedor-chile {
    width: 90%;
    height: 12rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-venezuela {
    width: 80%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-peru {
    width: 80%;
    height: 4rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-ecuador {
    width: 80%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61%;
    margin-left: 33%;
    position: absolute;
    z-index: 2;
}

.titulo-pais {
    color: #ededed;
    font-size: 2rem;
    font-family: Inter;
    font-weight: 400;
}

.parrafo-argentina,
.parrafo-brasil,
.parrafo-chile,
.parrafo-venezuela,
.parrafo-ecuador,
.parrafo-peru {
    width: 80%;
    height: 80%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 28px;
}


.atras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-atras {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.bg{
    background-image: url("./images/E-21.000_page-0001.jpg");
    background-size: cover;
    background-color: black;
    opacity: 0.8;
    background-repeat: repeat-y;
    height: 37.95rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}
@media only screen and (max-width: 768px) {
    .contenedor-argentina {
        width: 80%;
        height: 53rem;
        padding: 1rem;
    }

    .contenedor-brasil {
        width: 90%;
        height: 40rem;
    }

    .contenedor-chile {
        width: 90%;
        height: 22rem;
    }

    .contenedor-venezuela {
        height: 5rem;
    }

    .contenedor-ecuador {
        height: 10rem;
    }

    .pais {
        margin-left: 0;
        width: 90%;
        top: 15%;
    }

    .parrafo-argentina {
        font-size: 17px;
        height: 50rem;
        width: 87%;

    }

    .parrafo-brasil {
        font-size: 17px;
        height: 88%;
    }

    .parrafo-chile,
    .parrafo-venezuela,
    .parrafo-ecuador {
        font-size: 17px;

    }

    .bg {
        height: 75rem;
        background-size: contain;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .overlay {
        height: 75rem;
    }

    .wsp {
        width: 3rem;
    }
}